#creditsBody{
	text-align: center;
	margin: '5%';
}

#creditsBody .name{
	margin: '5%';
	font-weight: bold;
}

#input{
	background-image: -webkit-linear-gradient(top, #f6b673,#f39d43 50%,#f2912b 51%,#f18513);
	border: 1px solid #ac5e0b;
	border-top-color: #c46b0c;
	margin: 6px 0.2em;
	padding: 0 0.6em;
	border-radius: 0.4em;
}

.timer{
}
.day{
	float: left;
	margin-left: 1%;
}

.wdhDay{
    font-weight: bold;
}
.wdhDay.unchecked{
    font-weight: bold;
    color: #A1A1A1;
}
.noWdhDay{
    color: #8b8989;
}
.noWdhDay.unchecked{
    color: #B7B7B7;
}
.timerCheckBox{
    position: absolute;
    right: 1em;
    top: 1em;
}
.time{
	float: left;
	margin: 2% 1% 2% 1%;
	padding: 1%;
	background: #696969;
	color: #eee9e9;
}
.time.unchecked{
    background: #D2D2D2;
    color: #eee9e9;
}
.timerName{
	font-weight: bold;
}
.timerName.unchecked{
    color: #A1A1A1;
}
.abschaltFieldset, .einschaltFieldset{
	background: #fff,
  	border: 1px solid #fffs,
  	color: #fff;
}
.dosenliste img{
	margin: 2% 2% 1% 4%;
	vertical-align: middle;
}
.dosenliste{
	
}
.dosenliste{
	border-radius: 1em;
	margin-right: 10%;
	background: #c9de96; /* Old browsers */
	background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}
.dosenliste.status1{
    background-color: #8ED799;
}
.dosenliste.status0{
	background: #ffcbc6; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffcbc6 0%, #ce3535 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcbc6), color-stop(100%,#ce3535)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffcbc6 0%,#ce3535 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffcbc6 0%,#ce3535 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffcbc6 0%,#ce3535 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffcbc6 0%,#ce3535 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcbc6', endColorstr='#ce3535',GradientType=0 ); /* IE6-9 */
}

.x-field-checkbox .x-field-mask::after{
	right: auto;
}

.x-list .x-list-disclosure:before{
	content: '.';
}

.x-list .x-list-disclosure{
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	height: 50%;
	margin-right: 3%;
	margin-left: 3%;
	margin-top: auto;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #feb76c), color-stop(50%, #fd9e39), color-stop(51%, #fd9120), color-stop(100%, #fd8506));background-image:-webkit-linear-gradient(top, #feb76c,#fd9e39 50%,#fd9120 51%,#fd8506);background-image:linear-gradient(top, #feb76c,#fd9e39 50%,#fd9120 51%,#fd8506);
}

.sperren.x-field-checkbox .x-field-mask::after{
    right: 0.5em;
    position: absolute;
}

.x-list .x-list-item-tpl .x-list-disclosure {
	top: 25%;
}