body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#404040;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:200%;
    height:100%;
    width:100%;
    text-align:center;
}

.statusbar{
	position:relative;
	color: #999999;
	width:100%;
	top: -2%;
	left: -10px;
	background-color: #333333;
	font-size: 40%;`
}
.socket_control{
	position: relative;
	width: 100%;
	margin-top: -25px;
    left: -10px;
}

#socket_control button{
	width: 90%; 
	text-align: left; 
}

#socket_status_picture{
	display: inline;
}

#socket_name{
	display: inline; 
	position:absolute;
	margin-top: 15px; /* 0.5*50px - 0.5*20px (half of button height - half of font-size)*/
	margin-left: 3%; 
	font-size: 50%;
}

#socket_device_icon{
	position: static;
	display:inline;
	margin-left: auto;
	margin-right: 1em;
	float:right;
}

#menu_tabs {
	margin: 40px 0 0 -50px;
	min-width: 100%;
	width: auto !important;
	width:100%;
}

#menu_tabs ul{
	list-style: none;
	margin:auto;
	min-width: 50%;
	width: auto !important;
	width: 50%;
	font-size: 90%;
}

#menu_tabs ul li{
	display: inline;
	float: left;
	padding:10px 10px 30px 10px;
	background: rgba(0,0,0,0.3);
	-moz-border-radius-topleft: 12px; 
    -moz-border-radius-topright: 12px; 
    -webkit-border-top-left-radius:12px;
    -webkit-border-top-right-radius:12px;
}

#menu_tabs ul li a{
	position:relative;
	height: 50px;
	position: relative;
	text-decoration: none; 
	font: bold; 
	color: #808080;
    text-shadow: #303030 0px 0px 2px;

}

#menu_tabs ul li.active {
	background: rgba(255,255,255, 0.8);
	color: #000000;
	text-shadow: #FFFFFF 0px 0px 2px;
}

#actions{
	
}

/*#menu_tabs ul {
	list-style: none;
	padding:0;
	margin:0;
}

#menu_tabs li {
	float: left;
	border: 1px solid;
	border-bottom-width: 0;
	margin: 0 0.5em 0 0;
}

#menu_tabs li a{
	padding: 0 1em;
}

#menu_tabs #selected {asd

}*/

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color: #333333;/*#4B946A;*/
    display:none;
}

.blink {
    animation:fade 300ms infinite;
    -webkit-animation:fade 300ms infinite;
    width:100%;
}